Source: ppa-purge
Section: admin
Priority: extra
Maintainer: Robert Hooker (Sarvatt) <sarvatt@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Vcs-Bzr: https://code.launchpad.net/~xorg-edgers/ppa-purge/ubuntu

Package: ppa-purge
Architecture: all
Depends: ${misc:Depends}, dpkg-dev
Description: Bash shell script for PPA management.
 This package provides a script capable of automatically downgrading all
 packages in a given PPA back to the ubuntu versions.
 .
 Invoke it with ppa-purge -h for complete details.
